* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: "cairo";
	color: #46414c;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
	font-family: "Sitka Banner";
	color: #46414c;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

#navbarNavAltMarkup {
	flex-wrap: wrap;

}

.navbar-toggler{
	border: none;
}

.cards{
	display: flex;
}

.person{
	max-width: 300px;
}

.input-group{
	max-height: 20px;
}

.rettighed{
	max-width: 350px;
}

.footercard{
	border: 0px;
}

.CTA{
	bottom: 7%;
	left: 40%;
	width: 100px;
	color: #fff3cd;
	font-weight: bolder;
	background-color: #ee7656;
}

.pil{
	min-width: 30px;
}

.cookies{
	width: 200px;
}
